In [ ]:
# C:\Users\realb\Documents\DayTradingBot\data\chart\daily\005930.parquet로드하기

In [5]:
import os
import pandas as pd

In [2]:
daily_path = "C:/Users/realb/Documents/DayTradingBot/data/chart/daily"
minute_path = "C:/Users/realb/Documents/DayTradingBot/data/chart/minute"

In [3]:
d_path = os.path.join(daily_path, "005930.parquet")
m_path = os.path.join(minute_path, "005930.parquet")

In [7]:
d_df = pd.read_parquet(d_path)
m_df = pd.read_parquet(m_path)

In [11]:
d_df.describe()

,date,open,high,low,close,volume
count,486,486.000000,486.000000,486.000000,486.000000,4.860000e+02
mean,2025-02-15 07:03:42.222222080,76466.255144,77496.707819,75560.082305,76540.329218,2.091183e+07
min,2024-02-16 00:00:00,50200.000000,51400.000000,49900.000000,49900.000000,5.428342e+06
25%,2024-08-13 06:00:00,57500.000000,58125.000000,56900.000000,57600.000000,1.447498e+07
50%,2025-02-18 12:00:00,71900.000000,72600.000000,71050.000000,71700.000000,1.908334e+07
75%,2025-08-17 00:00:00,82800.000000,83300.000000,81450.000000,82350.000000,2.497224e+07
max,2026-02-13 00:00:00,179500.000000,184400.000000,178900.000000,181200.000000,5.390904e+07
std,NaN,25109.848012,25808.150025,24656.580042,25398.358156,8.669453e+06

In [10]:
d_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486 entries, 0 to 485
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    486 non-null    datetime64[ns]
 1   open    486 non-null    float64
 2   high    486 non-null    float64
 3   low     486 non-null    float64
 4   close   486 non-null    float64
 5   volume  486 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 22.9 KB

In [12]:
d_df.index

RangeIndex(start=0, stop=486, step=1)